{% extends "templates/airplane_flight.html" %}
asdfasfdfa
{% block page_content %}
  <h1>Flight Details</h1>

  <p><strong>Airline:</strong> {{ doc.airline }}</p>
  <p><strong>From:</strong> {{ doc.source_airport_code }}</p>
  <p><strong>To:</strong> {{ doc.destination_airport_code }}</p>
  <p><strong>Date:</strong> {{ doc.date_of_departure }}</p>
  <p><strong>Time:</strong> {{ doc.time_of_departure }}</p>
  <p><strong>Duration:</strong> {{ doc.duration }} hours</p>

  <a href="/book-flight?flight={{ doc.name }}">Book Flight</a>
{% endblock %}
